root = true

[*]
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
ij_continuation_indent_size = 4

[*.{json,yml,yaml}]
indent_size = 2

[*.html]
ij_html_enforce_quotes = true
ij_html_quote_style = double
